@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

/***** CSS FILES IMPORTS *****/
/*****************************/
/* RESET CSS */
@import "./reset.css";

/* HEADER */
@import "./header.css";

/* MAIN */
@import "./main.css";

/***** CUSTOM PROPERTIES *****/
:root {
  --clr-black: #0c090d;
  --clr-blue: #53b3cb;
  --clr-brown: #c1666b;
  --clr-red: #ff3864;
  --clr-white: #fffeff;
}

/***** UNIVERSAL STYLES *****/
body {
  font-family: "Open-Sans", sans-serif;
}

.masthead__content,
.main {
  margin: auto;
  max-width: 1200px;
}
